---
title: EMCC - East Metro Collaborative Competition
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>EMCC is open to the public & admission is FREE…</p>
    <p>Entirely a FREE service to the FIRST community,
       EMCC 2021 has a goal of providing a zero-barrier event with a genuine FIRST field staffed by real FTAs
       and CSAs for teams of any size or capability to attend at their own pace and availability.
       In other words, come when you want, drive till you break.</p>
    <h2>Save the date, September 18th</h2>
    <p>EMCC 2021 will take place on 09/18/2021 in East Ridge High School's gymnasium, Woodbury, MN.
      <a href="{{site.baseurl}}/faqs/">See FAQs page</a> for more details.
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
    <p>EMCC will be run as an open house event for 2021.
       <b>Any team with a robot and a couple hours is welcome to stop by and play with other teams in a practice match style event.
          There is no cost for any team to attend.</b>
        If you can attend and have a minute: please send a note to <a href="mailto:emailemcc@gmail.com">emailemcc@gmail.com</a>
        as it will help us plan.
        We will NOT be offering lunch in 2021 - there are local places to grab something quick, or just pack a sandwich alongside
        your drill bits.</p>

    <p><a href="{{site.baseurl}}/registration/" class="button">Registration Information</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Covid 19 Policy</h2>
      <p>For the health and safety of everyone attending EMCC, we will conform to school
         district 833 Covid 19 requirements on the day of the event.  At this time there
         are no requirements in place but this may change.  Please refer to this entry of
         the website for the most current information.</p>
    </div>
    <div class="col-12 col-md-6">
      <h2>Recording policy</h2>
      <p>This event will store and livestream audio, video and still images that may
         include anyone attending the event. By entering this event you agree to this.</p>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Quick Links</h2>
    </div>
  </div>
  <div class="row">
    {% for service in site.omniwidgets %}
    <div class="col-12 col-md-6 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 233 }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container py-5 py-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Hosting Teams</h2>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if feature.image %}<div class="feature-image">
          <a href="{{ feature.url }}"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></a></div> {% endif %}
        <h2 class="feature-title">{{ feature.title }}</h2>
        <div class="feature-content">{{ feature.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
