<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/sign-up/" class="{% if page.url contains 'services' %}current{% endif %}">Sign-up and Info</a></li>
    <li><a href="{{site.baseurl}}/day-of-event/" class="{% if page.url contains 'team' %}current{% endif %}">Day of Event Information</a></li>
    <li><a href="{{site.baseurl}}/new-to-first/" class="{% if page.url contains 'testimonials' %}current{% endif %}">New to FIRST Robotics?</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>