
<ul>
  <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/">Home</a></li>
  <li class="{% if page.url contains 'registration' %}active{% endif %}"><a href="{{site.baseurl}}/registration/">Registration</a></li>
  <li class="{% if page.url contains 'faq' %}active{% endif %}"><a href="{{site.baseurl}}/faqs/">FAQs</a></li>
  <li class="{% if page.url contains 'testimonials' %}active{% endif %}"><a href="{{site.baseurl}}/new-to-first/">New to FIRST Robotics?</a></li>
  <li class="{% if page.url contains 'contact' %}active{% endif %}"><a href="{{site.baseurl}}/contact/">Contact</a></li>
</ul>
